<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <p class="lead">Graduate from New York University with a degree in Music Technology.</p>
                <p class="lead">For the past 2 years I have worked as a Customer Experience Specialist and a System Adnministrator at <a href="https://casper.com/" target="_blank">Casper Sleep Inc</a>. Initially as a Customer Experience Specialist my role was focused heavily on providing quick and efficient solutions to various customer issues. Also in this role I took on a managerial role during the weekend shifts.</p>
                <p class="lead">After a year in this role I was promoted to my current role as a Systems Administrator. This position focuses heavily on heading new system integrations and building new business partnerships to streamline company management. In addition to these responsibilities I oversee the smooth operation of both internal and third-party systems.</p>
                <p class="lead">From 2014 to 2017 I worked as a technician for the <a href="http://steinhardt.nyu.edu/music/technology" target="_blank">Music Technology</a> department of Steinhardt School of Culture and Education located within New York Univeristy. There I built my knowledge of signal flow, soldering, troubleshooting, studio construction, and studio maintenance. This position was predominantly in charge of the day to day operations of the graduate floor of the department. Requiring routine studio maintenance and upkeep, class and conference setup, troubleshooting, and equipment repair.</p>
                <p class="lead">I have also served as an intern for <a href="http://thecuttingroom.com/" target="_blank">The Cutting Room Studios</a> located in the East Village. This role built my knowledge of session setup and strike, client relations, console management, and further deepened my skills in equipment repair. In this position I assisted in the deconstruction and repair of a 48 channel SSL Duality mixing console.
                <p class="lead">Additionally I have a self built brand constructed around my own music productions and have cultivated over 2,000 followers. These productions can be found on <a href="https://soundcloud.com/officialsycko" target="_blank">Soundcloud</a>, and <a href="https://open.spotify.com/artist/34t9h1WiaXc9H5wm2yjqMA" target="_blank">Spotify</a>, and have been played across the world more than 200,000 times.
                <p class="lead">Not only do I have a love for music, I also am an aspiring junior Rails developer, with a focus on back end development and knowledge in various aspects of software development including Ruby, Git, Rails, Heroku, HTML, and Arduino. Examples of my software can be found on my <a href="https://github.com/sycko" target="_blank">GitHub</a>; including a <a href="https://github.com/sycko/sample_app" target="_blank">sample application</a>, and a <a href="https://github.com/sycko/warehouse_app" target="_blank">warehouse application</a>.</p>
            </div>
        </div>
    </div>
</section>