<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Liam Sykes</h1>
        <h3>Audio Engineer - IT Engineer - Artist</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">About</a>
    </div>
</header>