<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Projects</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://soundcloud.com/officialsycko" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/sycko.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://www.circuitlab.com/circuit/4xzx9j/final-project-schematic/" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/circuit.jpg">
                            </a>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://gist.github.com/sycko/88e1bd88fc0ade9fdb29a4a5551f2d56" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/midi.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://github.com/sycko" target="_blank">
                                <img class="img-portfolio img-responsive" src="img/github.jpg">
                            </a>
                        </div>
                    </div> -->
                </div>
                <!-- <a href="https://github.com/sycko" class="btn btn-dark" target="_blank">Software Development</a> -->
            </div>
        </div>
    </div>
</section>