<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Skills</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-laptop fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Software Engineering</strong>
                            </h4>
                            <p>Junior Rails developer, focusing on back end development.</p>
                            <a href="https://github.com/sycko" class="btn btn-light" target="_blank">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-music fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Audio Engineering</strong>
                            </h4>
                            <p>Skilled in audio recording, production, and editing.</p>
                            <a href="https://soundcloud.com/officialsycko" class="btn btn-light" target="_blank">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-sliders fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Test Engineering</strong>
                            </h4>
                            <p>Experienced solderer, and troubleshooting specialist.</p>
                            <a href="resume_liam_sykes.pdf" class="btn btn-light" target="_blank">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-building-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>System Operations</strong>
                            </h4>
                            <p>Facility, and operations management for events.</p>
                            <a href="resume_liam_sykes.pdf" class="btn btn-light" target="_blank">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>